h1{
    text-align: left;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 15px 10px 10px 15px;
}

* {box-sizing: border-box;}

/* indspilning */
.recordInfo {
    border: 2px black solid;
    width: 60%;
    display: flex;
    justify-content: flex;
    align-items: flex;
}

.wrapper {
    border: 2px black solid;
    border-radius: 5px;
    width: 60%;
    margin: 5px;
    margin-top: 30px;
    padding: 5px;
}

#songWrapper {
    display: inline-flex;
}

#trackWrapper {
    display: inline-flex;
}

#songWrapper .right{

}

#songWrapper .left{

}

#btnStart {
    border: 2px black solid;
    border-radius: 5px;
    margin: 20px;
    width: 500px;
    height: 80px;
    font-size: 48px;
}


/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the input container */
.topnav .search-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
