#main {
  margin-bottom: 50px;
  border: 1px solid #000;
  background: rgba(255,255,255,0.5);
  border-radius: 11px;
  float: left;
  width: 800px;
  padding-bottom:
  15px; position: relative;
  z-index: 2;
}

#title {
  background: rgba(255,255,0,0.5);
  position: relative;
  color: #000;
  z-index: -1;
  padding: 5px 11px 5px;
}

h3 {
  margin: 0px;
}

.player{
  height: 42px;
  box-shadow: 0 -1px #000;
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.player div{
  margin: 0 auto;
  width: 160px;
  float: right;
}

.player .time-controls{
  float: left;
  margin: 0;
  position: relative;
  top: 5px;
}
